<section class="section-container">
    <app-sidenav></app-sidenav>
    <div class="section-content-container">
        <!-- page header -->
        <div class="page-header">
            <div>
                <h1 class="page-name">Welcome back, Satvik</h1>
                <p class="page-description">Here's your financial overview for a better tommorow.</p>
            </div>
            <div class="flex-1"></div>
            <img class="wallet-icon" src="../../../assets/images/wallet-icon.png">
            <div class="current-balance-container">
                <p class="font-text-small opacity-6">Current Balance</p>
                <h1 class="current-balance">
                    <strong>₹ 50,000<span class="font-text">.00</span></strong>
                </h1>
            </div>
        </div>

        <div class="cards-container">
            <div class="card">
                <h1 class="card-heading">
                    <i class="fa fa-sign-in card-icon" aria-hidden="true"></i>
                    Total Income
                </h1>
                <h1 class="card-big-text">₹ 70,000.00</h1>
                <p class="opacity-6">Source Count: 2</p>
            </div>
            <div class="card blue">
                <h1 class="card-heading">
                    <i class="fa fa-briefcase card-icon" aria-hidden="true"></i>
                    Fixed Expenses
                </h1>
                <h1 class="card-big-text">₹ 20,000.00</h1>
                <p class="opacity-6">Total Emi/Subscriptions: 7</p>
            </div>
            <div class="card red">
                <h1 class="card-heading">
                    <i class="fa fa-book card-icon" aria-hidden="true"></i>
                    Total Active Debt/Lend
                </h1>
                <h1 class="card-big-text">₹ 70,000.00</h1>
                <p class="opacity-6">Debt Count: 3</p>
            </div>
            <div class="card green">
                <h1 class="card-heading">
                    <i class="fa fa-university card-icon" aria-hidden="true"></i>
                    Total Savings
                </h1>
                <h1 class="card-big-text">₹ 70,000.00</h1>
                <p class="opacity-6">Last Month: 37,000</p>
            </div>
        </div>

        <div class="cards-container">
            <div class="card">
                <h1 class="card-heading">
                    <i class="fa fa-coffee card-icon" aria-hidden="true"></i>
                    Your Accounts
                </h1>
                <button class="view-all-btn">View All</button>
                <ul class="card-list">
                    <li *ngFor="let item of userAccounts">
                        <span>{{item.name}} ({{item.type}})</span>
                        <span class="flex-1"></span>
                        <span class="font-text fw-b">₹ {{item.current_balance | number:'1.2-2':'en-IN'}}</span>
                    </li>
                </ul>
            </div>
            <div class="card">
                <h1 class="card-heading">
                    <i class="fa fa-briefcase card-icon" aria-hidden="true"></i>
                    Emi/Subscriptions List
                </h1>
                <button class="view-all-btn">View All</button>
                <ul class="card-list">
                    <li>item</li>
                </ul>
            </div>
        </div>

        <div class="cards-container">
            <div class="card red">
                <h1 class="card-heading">
                    <i class="fa fa-book card-icon" aria-hidden="true"></i>
                    Active Debt List
                </h1>
                <button class="view-all-btn">View All</button>
                <ul class="card-list">
                    <li>item</li>
                </ul>
            </div>
            <div class="card green">
                <h1 class="card-heading">
                    <i class="fa fa-university card-icon" aria-hidden="true"></i>
                    Saving List (2026)
                </h1>
                <button class="view-all-btn">View All</button>
                <ul class="card-list">
                    <li>item</li>
                </ul>
            </div>
        </div>
    </div>


</section>