<section class="section-container">
    <app-sidenav></app-sidenav>
    <div class="section-content-container">
        <!-- page header -->
        <div class="page-header">
            <div>
                <h1 class="page-name">Welcome back, {{user.user_name}}</h1>
                <p class="page-description">Here's your financial overview for a better tommorow.</p>
            </div>
            <div class="flex-1"></div>
            <img class="wallet-icon" src="../../../assets/images/wallet-icon.png">
            <div class="current-balance-container">
                <p class="font-text-small opacity-6">Current Balance</p>
                <h1 class="current-balance">
                    <strong>₹ {{currentBalance | number:'1.2-2':'en-IN'}}</strong>
                </h1>
            </div>
        </div>

        <div class="cards-container">
            <div class="card">
                <h1 class="card-heading">
                    <i class="fa fa-sign-in card-icon" aria-hidden="true"></i>
                    Total Income
                </h1>
                <h1 class="card-big-text">₹ {{totalIncome | number:'1.2-2':'en-IN'}}</h1>
                <p class="opacity-6">Source Count: {{numberOfIncome}}</p>
            </div>
            <div class="card blue">
                <h1 class="card-heading">
                    <i class="fa fa-briefcase card-icon" aria-hidden="true"></i>
                    Fixed Expenses
                </h1>
                <h1 class="card-big-text">₹ {{fixedExpenses | number:'1.2-2':'en-IN'}}</h1>
                <p class="opacity-6">Total Emi/Subscriptions: {{numberOfExpenses}}</p>
            </div>
            <div class="card red">
                <h1 class="card-heading">
                    <i class="fa fa-book card-icon" aria-hidden="true"></i>
                    Total Active Debt/Lend
                </h1>
                <h1 class="card-big-text"
                    [class.text-success]="debtBalance > 0"
                    [class.text-fail]="debtBalance < 0">
                    ₹ {{debtBalance | number:'1.2-2':'en-IN'}}
                </h1>
                <p class="opacity-6">Debt Count: {{numberOfDebts}}</p>
            </div>
            <div class="card green">
                <h1 class="card-heading">
                    <i class="fa fa-university card-icon" aria-hidden="true"></i>
                    Total Savings
                </h1>
                <h1 class="card-big-text">₹ {{totalSaving | number:'1.2-2':'en-IN'}}</h1>
                <p class="opacity-6">Last Month: 37,000</p>
            </div>
        </div>

        <div class="cards-container">
            <div class="card">
                <h1 class="card-heading">
                    <i class="fa fa-coffee card-icon" aria-hidden="true"></i>
                    Your Accounts
                </h1>
                <button class="view-all-btn" routerLink="/account">View All</button>
                <ul class="card-list">
                    <li *ngFor="let item of userAccounts">
                        <span>{{item.name}} <span class="opacity-6">({{item.type}})</span></span>
                        <span class="flex-1"></span>
                        <span class="font-text fw-b">₹ {{item.current_balance | number:'1.2-2':'en-IN'}}</span>
                    </li>
                </ul>
            </div>
            <div class="card">
                <h1 class="card-heading">
                    <i class="fa fa-briefcase card-icon" aria-hidden="true"></i>
                    Emi/Subscriptions List
                </h1>
                <button class="view-all-btn" routerLink="/emisubscription">View All</button>
                <ul class="card-list">
                    <li *ngFor="let item of userSubscribtions">
                        <span>{{item.name}} <span class="opacity-6">({{item.account_name}} - #{{item.ref_number}})</span></span>
                        <span class="flex-1"></span>
                        <span class="font-text fw-b">₹ {{item.sub_amount | number:'1.2-2':'en-IN'}}</span>
                    </li>
                </ul>
            </div>
        </div>

        <div class="cards-container">
            <div class="card red">
                <h1 class="card-heading">
                    <i class="fa fa-book card-icon" aria-hidden="true"></i>
                    Active Debt List
                </h1>
                <button class="view-all-btn" routerLink="/debts">View All</button>
                <ul class="card-list">
                    <li *ngFor="let item of userDebts">
                        <span>{{item.person_name}} <span class="opacity-6">({{item.type}})</span></span>
                        <span class="flex-1"></span>
                        <span class="font-text fw-b"
                            [class.text-success]="item.type == 'debtor'"
                            [class.text-fail]="item.type == 'lender'">
                            ₹ {{item.amount | number:'1.2-2':'en-IN'}}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="card green">
                <h1 class="card-heading">
                    <i class="fa fa-university card-icon" aria-hidden="true"></i>
                    Saving List (2026)
                </h1>
                <button class="view-all-btn" routerLink="/savings">View All</button>
                <ul class="card-list">
                    <li *ngFor="let item of userSavings">
                        <span>{{item.account_name}}</span>
                        <span class="flex-1"></span>
                        <span class="font-text fw-b">₹ {{item.saving_amount | number:'1.2-2':'en-IN'}}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>