<section class="section-container">
    <div class="header-container">
        <h1 class="font-heading fw-b">Welcome back, Satvik</h1>
        <div class="flex-1"></div>
        <span class="font-subheading opacity-4">Current Balance: </span>
        <div class="current-balance">
            <strong>₹ 50,000<span class="font-text">.00</span></strong>
        </div>
    </div>
    <div class="layer-1">
        <div class="layer-1-box layer-1-box-1">
            <p class="font-text layer-box-heading">Total Income</p>
            <h1 class="balance-text">₹ 70,000<span class="font-text">.00</span></h1>
            <p class="font-text-small fw-b layer-box-hint-text">Source Count: 2</p>
            <i class="fa fa-plus-circle layer-box-add-button" aria-hidden="true"></i>
        </div>
        <div class="layer-1-box layer-1-box-2">
            <p class="font-text layer-box-heading">Fixed Expenses</p>
            <h1 class="balance-text">₹ 20,000<span class="font-text">.00</span></h1>
            <p class="font-text-small fw-b layer-box-hint-text">Total Emi/Subscriptions: 7</p>
            <i class="fa fa-plus-circle layer-box-add-button" aria-hidden="true"></i>
        </div>
        <div class="layer-1-box layer-1-box-3">
            <p class="font-text layer-box-heading">Total Debt</p>
            <h1 class="balance-text">₹ 12,000<span class="font-text">.00</span></h1>
            <p class="font-text-small fw-b layer-box-hint-text">Debt Count: 3</p>
            <i class="fa fa-plus-circle layer-box-add-button" aria-hidden="true"></i>
        </div>
        <div class="layer-1-box layer-1-box-4">
            <p class="font-text layer-box-heading">Total Savings</p>
            <h1 class="balance-text">₹ 40,000<span class="font-text">.00</span></h1>
            <p class="font-text-small fw-b layer-box-hint-text">Last Month: 37,000</p>
            <i class="fa fa-plus-circle layer-box-add-button" aria-hidden="true"></i>
        </div>
    </div>

    <div class="layer-2">
        <div class="layer-2-box layer-2-box-1">
            <div class="layer-box-heading-with-button">
                <p class="font-text">Income Source List</p>
                <div class="flex-1"></div>
                <div class="layer-icon-container">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
            <ul class="layer-box-list">
                <li class="layer-box-item">
                    <span class="font-text">Job</span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b green-text">₹ 50,000</span>
                </li>
                <li class="layer-box-item">
                    <span class="font-text">Stocks</span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b green-text">₹ 20,000</span>
                </li>
            </ul>
        </div>
        <div class="layer-2-box layer-2-box-2">
            <div class="layer-box-heading-with-button">
                <p class="font-text">Emi/Subscriptions List</p>
                <div class="flex-1"></div>
                <div class="layer-icon-container">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
            <ul class="layer-box-list">
                <li class="layer-box-item">
                    <span class="font-text">Car Emi <span class="opacity-4 font-text-small">on
                            2<sup>nd</sup></span></span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b red-text">₹ 13,700</span>
                </li>
                <li class="layer-box-item">
                    <span class="font-text">Netflix <span class="opacity-4 font-text-small">on
                            8<sup>th</sup></span></span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b red-text">₹ 650</span>
                </li>
                <li class="layer-box-item">
                    <span class="font-text">Youtube Premium <span class="opacity-4 font-text-small">on
                            21<sup>st</sup></span></span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b red-text">₹ 149</span>
                </li>
                <li class="layer-box-item">
                    <span class="font-text">Apple iCloud <span class="opacity-4 font-text-small">on
                            24<sup>th</sup></span></span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b red-text">₹ 199</span>
                </li>
                <li class="layer-box-item">
                    <span class="font-text">Crunchyroll <span class="opacity-4 font-text-small">on
                            10<sup>th</sup></span></span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b red-text">₹ 99</span>
                </li>
            </ul>
        </div>
        <div class="layer-2-box layer-2-box-3">
            <div class="layer-box-heading-with-button">
                <p class="font-text">Debt List</p>
                <div class="flex-1"></div>
                <div class="layer-icon-container">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
            <ul class="layer-box-list">
                <li class="layer-box-item">
                    <span class="font-text">Papa</span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b red-text">₹ 30,000</span>
                </li>
                <li class="layer-box-item">
                    <span class="font-text">Abhishek Yadav</span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b red-text">₹ 6,000</span>
                </li>
                <li class="layer-box-item">
                    <span class="font-text">Vastvik</span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b red-text">₹ 4,000</span>
                </li>
                <li class="layer-box-item">
                    <span class="font-text">Finance App</span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b red-text">₹ 2,000</span>
                </li>
            </ul>
        </div>
        <div class="layer-2-box layer-2-box-4">
            <div class="layer-box-heading-with-button">
                <p class="font-text">Saving List (2026)</p>
                <div class="flex-1"></div>
                <div class="layer-icon-container">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                </div>
            </div>
            <ul class="layer-box-list">
                <li class="layer-box-item">
                    <span class="font-text">Stocks</span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b green-text">₹ 19,000</span>
                </li>
                <li class="layer-box-item">
                    <span class="font-text">Bank SBI</span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b green-text">₹ 12,000</span>
                </li>
                <li class="layer-box-item">
                    <span class="font-text">Bank IDFC</span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b green-text">₹ 7,000</span>
                </li>
                <li class="layer-box-item">
                    <span class="font-text">SIP</span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b green-text">₹ 2,000</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="layer-5">
        <div class="layer-5-box layer-5-box-1">
            <div class="layer-box-heading-with-button">
                <p class="font-text">Your Accounts</p>
                <div class="flex-1"></div>
                <button class="btn btn-small btn-dark">Add</button>
            </div>
            <ul class="layer-box-list">
                <li class="layer-box-item" *ngFor="let item of userAccounts">
                    <span class="font-text">{{item.name}} ({{item.type}})</span>
                    <span class="flex-1"></span>
                    <span class="font-subheading fw-b">₹ {{item.current_balance | number:'1.2-2':'en-IN'}}</span>
                </li>
            </ul>
        </div>
        <div class="layer-5-box layer-5-box-2">
            <div class="layer-3-box">
                <div class="layer-box-heading-with-button">
                    <p class="font-text">Monthly Expense Target: ₹ 1,000/day</p>
                    <div class="flex-1"></div>
                    <button class="btn btn-small btn-dark">Update</button>
                </div>

                <p class="font-subheading">September</p>
                <br>

                <div class="days-card-container">
                    <div class="days-card" *ngFor="let day of days">
                        <p class="font-text ta-c">{{ day }}</p>
                        <p class="font-text ta-c">₹ 500</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="month-card-container">
        <div class="month-card" [class.month-card-active]="activeMonths.includes(month)" *ngFor="let month of months"
            (click)="monthSelected(month)">
            <p class="font-text ta-c">{{ month }}</p>
        </div>
    </div> -->
</section>