/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    /* color */
    --primary-color: #092328;
    --secondary-color: #2C2C2C;
    --accent-color: #EEEEEE;
    --background-color: #fff;
    --text-color-light: #fff;
    --text-color-dark: #333;
    --text-warning: #E63946;
    --text-success: #838921;

    /* font size */
    --font-heading: 20px;
    --font-subheading: 18px;
    --font-text: 16px;
    --font-text-small: 14px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* font class */
.font-heading {
    font-size: var(--font-heading);
}
.font-subheading {
    font-size: var(--font-subheading);
}
.font-text {
    font-size: var(--font-text);
}
.font-text-small {
    font-size: var(--font-text-small);
}

/* input field */
.input-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.input-label{
    margin-bottom: 5px;
    font-size: var(--font-text);
}
.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid var(--accent-color);
    border-radius: 6px;
    font-size: var(--font-text);
    opacity: 0.9;
}
.error-message-container {
    min-height: 20px;
    min-width: 20px;
}
.error-message {
    color: var(--text-warning);
    font-size: var(--font-text-small);
}

/* button */
.btn-container {
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-container:last-child {
    padding-bottom: 10px;
}
.btn {
    padding: 10px 20px;
    border-radius: 10px;
    font-size: var(--font-text);
    cursor: pointer;
    transition: 0.4s;
}
.btn-small {
    padding: 5px 10px;
    border-radius: 6px;
}
.btn:hover {
    opacity: 1;
    transform: scale(1.05);
}
.btn-light {
    color: var(--text-color-dark);
    background: none;
    border: 1px solid var(--accent-color);
    color: var(--text-color-light);
}
.btn-light:hover {
    background-color: var(--accent-color);
    color: var(--text-color-dark);
}
.btn-light:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.btn-dark {
    color: var(--text-color-light);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn-dark:hover {
    background-color: var(--primary-color);
}
.btn-dark:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* section */
.section-container{
    background-color: var(--accent-color);
    width: 100%;
    min-height: 100vh;
}
.section-content-container{
    padding: 20px;
    width: 100%;
}

/* commoon classes */
.fw-b{
    font-weight: bold !important;
}
.fw-l{
    font-weight: lighter !important;
}
.ta-c{
    text-align: center;
}
.flex-1{
    flex: 1;
}
.opacity-1{
    opacity: 0.1;
}
.opacity-2{
    opacity: 0.2;
}
.opacity-4{
    opacity: 0.4;
}
.opacity-6{
    opacity: 0.6;
}
.opacity-8{
    opacity: 0.8;
}
.opacity-10{
    opacity: 1;
}