/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* color */
    --primary-color: #123F36;
    --secondary-color: #2C2C2C;
    --accent-color: #C5C1C1;
    --background-color: #fff;

    /* blue color */
    --color-blue: #90CAF9;
    --color-blue-light: #E3F2FD;
    --color-blue-dark: #091540;

    /* green color */
    --color-green: #A5D6A7;
    --color-green-light: #E8F5E9;
    --color-green-dark: #1D4533;

    /* red color */
    --color-red: #F5788B;
    --color-red-light: #FFF5F8;
    --color-red-dark: #DF301C;

    --background-green-light: #E8F5E9;
    --highlight-color: #E3F2FD;
    --text-color-light: #fff;
    --text-color-dark: #333;
    --text-warning: #E63946;
    --text-success: #499A13;

    /* font size */
    --font-heading-big: 24px;
    --font-heading: 20px;
    --font-subheading: 18px;
    --font-text: 16px;
    --font-text-small: 14px;

    /* others */
    --border-radius: 10px;
    --space-between: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* font class */
.font-heading-big {
    font-size: var(--font-heading-big);
}
.font-heading {
    font-size: var(--font-heading);
}
.font-subheading {
    font-size: var(--font-subheading);
}
.font-text {
    font-size: var(--font-text);
}
.font-text-small {
    font-size: var(--font-text-small);
}

/* section */
/* 
<section class="section-container">
    <div class="section-content-container">
        <div class="page-header">
            <div>
                <h1 class="page-name">Your Accounts</h1>
                <p class="page-description">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="flex-1"></div>
            <button class="btn btn-dark" (click)="showAddAccountSection()">Add New</button>
        </div>
    </div>
</div>
*/
.section-container{
    background-color: var(--background-color);
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.section-content-container{
    padding: 20px 20px 20px 260px;
    width: 100%;
}
.page-header{
    margin-bottom: var(--space-between);
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: var(--border-radius);
}
.page-header .page-name{
    margin-bottom: 5px;
    font-size: var(--font-heading-big);
    color: var(--primary-color);
}
.page-header .page-description{
    font-size: var(--font-text);
    opacity: 0.4;
    font-weight: light;
}
.back-link{
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
}
.back-link:hover{
    background-color: var(--accent-color);
}

/* form container */
.form-container{
    margin-bottom: var(--space-between);
    padding: 10px 20px 10px 0;
    border-right: 4px solid var(--color-green-dark);
}
.form-header{
    margin-bottom: 10px;
    font-size: var(--font-subheading);
}
.form-fields-container{
    display: flex;
    gap: 0 20px;
    flex-wrap: wrap;
}
.form-fields-container .full{
    width: 100%;
}
.form-fields-container .half{
    width: calc(50% - 10px);
}
.form-fields-container .onethird{
    width: calc(33.3% - 13px);
}
.form-fields-container .oneforth{
    width: calc(25% - 15px);
}
.form-fields-container .onefivth{
    width: calc(20% - 25px);
}
/* input field */
.input-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.input-label{
    margin-bottom: 2px;
    font-size: var(--font-text);
    opacity: 0.4;
}
.input-field {
    font-size: var(--font-text-small);
    width: 100%;
    height: 35px;
    padding: 4px 12px;
    margin-bottom: 5px;
    border: none;
    background: none;
    border-radius: 6px;
    font-size: var(--font-text);
    border: 1px solid var(--color-green);
    background-color: var(--color-green-light);
}
.checkbox-label{
    margin-bottom: 10px;
}
.error-message-container {
    height: 10px;
    min-width: 20px;
    position: relative;
    top: -4px;
    left: 10px;
}
.error-message {
    color: var(--text-warning);
    font-size: var(--font-text-small);
}

/* button */
.btn-container {
    padding: 10px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.btn-container:last-child {
    padding-bottom: 10px;
}
.btn {
    padding: 8px 20px;
    min-width: 120px;
    border-radius: 10px;
    font-size: var(--font-text);
    cursor: pointer;
    transition: 0.4s;
    font-weight: bold;
}
.btn-small {
    padding: 5px 10px;
    border-radius: 4px;
}
.btn:hover {
    opacity: 1;
    transform: scale(1.05);
}
.btn-light {
    color: var(--primary-color);
    font-weight: bold;
    background-color: var(--background-color);
    border: 2px solid var(--primary-color);
}
.btn-light:hover {
    background-color: var(--color-green-light);
}
.btn-light:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.btn-dark {
    color: var(--text-color-light);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn-dark:hover {
    background-color: var(--primary-color);
}
.btn-dark:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* table */
/* 
<div class="table-container account-table">
    <div class="table-header">
        <h1>List of your accounts</h1>
        <p>1 - 1 of 4</p>
    </div>
    <table class="table">
        <tr class="header-row">
            <th class="number-column">#</th>
            <th>Name</th>
            <th>Type</th>
            <th class="option-column"></th>
        </tr>
        <ng-container *ngIf="userAccounts.length > 0">
            <tr *ngFor="let item of userAccounts; let i = index">
                <td class="number-column">{{i+1}}.</td>
                <td>{{item.name}}</td>
                <td class="center">{{item.type}}</td>
                <td class="option-column">
                    <i class="fa fa-bars" aria-hidden="true"></i>
                </td>
            </tr>
        </ng-container>
        <ng-container *ngIf="userAccounts.length <= 0">
            <tr class="no-record-found">
                <td>No Record Found</td>
            </tr>
        </ng-container>
    </table>
    <app-paging></app-paging>
</div> 
*/
.table-container{
    margin-bottom: var(--space-between);
    padding: 10px 20px 10px 0;
    border-right: 4px solid var(--color-green-dark);
}
.table-header{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.table-header h1{
    font-size: var(--font-subheading);
}
.table-header p{
    font-size: var(--font-text-small);
    opacity: 0.6;
}
.table-header{
    margin-bottom: 10px;
    font-size: var(--font-subheading);
}
.table{
    margin-bottom: 20px;
    border: 1px solid var(--color-green);
    border-collapse: collapse;
    width: 100%;
    font-size: var(--font-text-small);
}
.table th, .table td{
    padding: 8px 12px;
    border: 1px solid var(--color-green);
}
.table .header-row{
    color: var(--primary-color);
    background-color: var(--color-green-light);
}
.table .header-row th{
    opacity: 0.8;
    text-transform: uppercase;
}
.table .number-column{
    width: 40px;
    text-align: center;
}
.table .option-column{
    width: 40px;
    padding: 0;
    text-align: center;
}
.table .option-column i{
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}
.table .option-column i:hover{
    background-color: var(--accent-color);
}
.table .no-record-found td{
    width: 100%;
    text-align: center;
    opacity: 0.4;
}
.table .light{
    opacity: 0.4;
}
.table .center{
    text-align: center;
}
.item-5{
    width: 5%;
}
.item-10{
    width: 10%;
}
.item-15{
    width: 15%;
}
.item-20{
    width: 20%;
}
.item-25{
    width: 25%;
}
.item-30{
    width: 30%;
}
.item-35{
    width: 35%;
}
.item-40{
    width: 40%;
}
.item-45{
    width: 45%;
}
.item-50{
    width: 50%;
}
.item-55{
    width: 55%;
}
.item-60{
    width: 60%;
}
.item-65{
    width: 65%;
}
.item-70{
    width: 70%;
}
.item-75{
    width: 75%;
}
.item-80{
    width: 80%;
}
.item-85{
    width: 85%;
}
.item-90{
    width: 90%;
}
.item-95{
    width: 95%;
}
.item-100{
    width: 100%;
}

/* info */
/*
<div class="info-container">
    <h1 class="info-heading">Basic Information</h1>
    <div class="info-text">
        <div class="info">
            <span class="info-header">Number of Subs:</span>
            <span class="info-body">{{userSubscriptions.length}}</span>
        </div>
    </div>
</div>
*/
.info-container{
    margin-bottom: var(--space-between);
    display: flex;
    gap: 20px;
    align-items: center;
}
.info-container .info-heading{
    font-size: var(--font-subheading);
}
.info-container .info-text{
    padding: 12px 24px;
    background-color: var(--background-color);
    border-right: 4px solid var(--color-green-dark);
    background-color: var(--color-green-light);
    border-radius: 10px 0  0 10px;
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.info-container .info{
    width: calc(33.3% - 15px);
    font-size: var(--font-text);
    display: flex;
    gap: 5px;
    font-size: var(--font-text-small);
}
.info-container .info:last-child{
    margin-bottom: 0px;
}
.info-container .info-header{
    opacity: 0.6;
}
.info-container .info-body{
    font-weight: bold;
}

/* cards */
/*
<div class="cards-container">
    <div class="card">
        <h1 class="card-heading">
            <i class="fa fa-coffee card-icon" aria-hidden="true"></i>
            lol
        </h1>
        <button class="view-all-btn">View All</button>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <h1 class="card-big-text">₹ 70,000.00</h1>
        <p class="opacity-6">Last Month: 37,000</p>
        <ul class="card-list">
            <li>item</li>
            <li>item</li>
        </ul>
    </div>
</div> 
*/
.cards-container{
    display: flex;
    gap: var(--space-between);
    margin-bottom: 20px;
}
.card{
    flex: 1;
    padding: 16px 20px;
    border-radius: var(--border-radius);
    border: 1px solid var(--accent-color);
    background-color: var(--background-color);
    font-size: var(--font-text-small);
    position: relative;
}
.view-all-btn{
    font-size: var(--font-text-small);
    color: var(--primary-color);
    font-weight: bold;
    background: none;
    border: none;
    border-radius: 10px;
    position: absolute;
    top: 16px;
    right: 20px;
    cursor: pointer;
}
.view-all-btn:hover{
    text-decoration: underline;
}
.card-icon{
    margin-right: 5px;
}
.card-heading{
    margin-bottom: 20px;
    font-size: var(--font-text);
}
.cards-container .blue{
    background-color: var(--color-blue-light);
    border: 1px solid var(--color-blue);
}
.cards-container .blue .card-heading{
    color: var(--color-blue-dark);
}
.cards-container .green{
    background-color: var(--color-green-light);
    border: 1px solid var(--color-green);
}
.cards-container .green .card-heading{
    color: var(--color-green-dark);
}
.cards-container .red{
    background-color: var(--color-red-light);
    border: 1px solid var(--color-red);
}
.cards-container .red .card-heading{
    color: var(--color-red-dark);
}
.card-big-text{
    margin-bottom: 5px;
    font-size: var(--font-heading-big);
}
.card-list{
    border-radius: 10px;
    list-style: none;
}
.card-list li{
    padding: 6px 10px;
    background-color: var(--background-color);
    border-radius: 2px;
    border-bottom: 1px solid var(--accent-color);
    display: flex;
    gap: 10px;
    align-items: center;
}
.card-list li:last-child{
    margin-bottom: 0px;
}

/* commoon classes */
.fw-b{
    font-weight: bold !important;
}
.fw-l{
    font-weight: lighter !important;
}
.ta-c{
    text-align: center;
}
.flex-1{
    flex: 1;
}
.opacity-1{
    opacity: 0.1;
}
.opacity-2{
    opacity: 0.2;
}
.opacity-4{
    opacity: 0.4;
}
.opacity-6{
    opacity: 0.6;
}
.opacity-8{
    opacity: 0.8;
}
.opacity-10{
    opacity: 1;
}
.c-p{
    cursor: pointer;
}
.c-na{
    cursor: not-allowed;
}
.text-success{
    color: var(--text-success);
}
.text-fail{
    color: var(--text-warning);
}
.note{
    margin-bottom: 10px;
    text-align: center;
    font-size: var(--font-text-small);
    opacity: 0.8;
}