/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    /* color */
    --primary-color: #092328;
    --secondary-color: #2C2C2C;
    --accent-color: #EEEEEE;
    --background-color: #fff;
    --highlight-color: #E3F2FD;
    --text-color-light: #fff;
    --text-color-dark: #333;
    --text-warning: #E63946;
    --text-success: #499A13;

    /* font size */
    --font-heading-big: 24px;
    --font-heading: 20px;
    --font-subheading: 18px;
    --font-text: 16px;
    --font-text-small: 14px;

    /* others */
    --border-radius: 10px;
    --space-between: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* font class */
.font-heading-big {
    font-size: var(--font-heading-big);
}
.font-heading {
    font-size: var(--font-heading);
}
.font-subheading {
    font-size: var(--font-subheading);
}
.font-text {
    font-size: var(--font-text);
}
.font-text-small {
    font-size: var(--font-text-small);
}

/* form container */
.form-container{
    margin-bottom: var(--space-between);
    padding: 30px 40px;
    background-color: var(--background-color);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}
.form-header{
    margin-bottom: 10px;
    font-size: var(--font-subheading);
}
.form-fields-container{
    display: flex;
    gap: 0 20px;
    flex-wrap: wrap;
}
.form-fields-container .full{
    width: 100%;
}
.form-fields-container .half{
    width: calc(50% - 10px);
}
.form-fields-container .onethird{
    width: calc(33.3% - 15px);
}
.form-fields-container .oneforth{
    width: calc(25% - 20px);
}


/* input field */
.input-field-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
.input-label{
    margin-bottom: 2px;
    font-size: var(--font-text-small);
    opacity: 0.4;
}
.input-field {
    font-size: var(--font-text-small);
    width: 100%;
    height: 35px;
    padding: 4px 12px;
    margin-bottom: 5px;
    border: none;
    background: none;
    border-radius: 6px;
    font-size: var(--font-text);
    opacity: 0.9;
    border: 1px solid var(--text-color-dark);
}
.error-message-container {
    height: 10px;
    min-width: 20px;
    position: relative;
    top: -6px;
    left: 10px;
}
.error-message {
    color: var(--text-warning);
    font-size: var(--font-text-small);
}

/* button */
.btn-container {
    padding: 10px 0;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.btn-container:last-child {
    padding-bottom: 10px;
}
.btn {
    padding: 10px 20px;
    width: 120px;
    border-radius: 10px;
    font-size: var(--font-text);
    cursor: pointer;
    transition: 0.4s;
}
.btn-small {
    padding: 5px 10px;
    border-radius: 6px;
}
.btn:hover {
    opacity: 1;
    transform: scale(1.05);
}
.btn-light {
    color: var(--text-color-dark);
    background-color: var(--background-color);
    border: 1px solid var(--text-color-dark);
}
.btn-light:hover {
    color: var(--text-color-dark);
}
.btn-light:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.btn-dark {
    color: var(--text-color-light);
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color);
}
.btn-dark:hover {
    background-color: var(--primary-color);
}
.btn-dark:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/* table */
.table-container{
    margin-bottom: var(--space-between);
    padding: 30px 40px;
    background-color: var(--background-color);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}
.table-container:last-child{
    margin-bottom: 0px;
}
.table-header{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}
.table-header h1{
    font-size: var(--font-subheading);
}
.table-header p{
    font-size: var(--font-text-small);
    opacity: 0.6;
}
.table-header{
    margin-bottom: 10px;
    font-size: var(--font-subheading);
}
.table{
    margin-bottom: 20px;
    border: 1px solid var(--accent-color);
    border-collapse: collapse;
    width: 100%;
    font-size: var(--font-text-small);
}
.table th, .table td{
    padding: 8px 12px;
    border: 1px solid var(--accent-color);
}
.table .header-row{
    background-color: var(--primary-color);
    color: var(--text-color-light);
}
.table .header-row th{
    opacity: 0.6;
    text-transform: uppercase;
}
.table .number-column{
    width: 40px;
    text-align: center;
}
.table .option-column{
    width: 40px;
    padding: 0;
    text-align: center;
}
.table .option-column i{
    padding: 5px;
    cursor: pointer;
    border-radius: 4px;
}
.table .option-column i:hover{
    background-color: var(--accent-color);
}
.table .no-record-found{
    width: 100%;
}
.table .light{
    opacity: 0.4;
}
.table .center{
    text-align: center;
}

/* info */
.info-container{
    margin-bottom: var(--space-between);
    padding: 30px 40px;
    background-color: var(--background-color);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    display: flex;
    gap: 20px;
    align-items: center;
}
.info-container .info-text{
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.info-container .info{
    width: calc(33.3% - 15px);
    font-size: var(--font-text);
    display: flex;
    gap: 5px;
}
.info-container .info:last-child{
    margin-bottom: 0px;
}
.info-container .info-header{
    opacity: 0.4;
}

/* section */
.section-container{
    background-color: var(--accent-color);
    min-height: 100vh;
    width: 100%;
    display: flex;
}
.section-content-container{
    padding: 20px 20px 20px 260px;
    width: 100%;
}
.page-header{
    padding: 20px 40px;
    margin-bottom: var(--space-between);
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
}
.back-link{
    padding: 10px 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    border-radius: 12px;
}
.back-link:hover{
    background-color: var(--accent-color);
}

/* commoon classes */
.fw-b{
    font-weight: bold !important;
}
.fw-l{
    font-weight: lighter !important;
}
.ta-c{
    text-align: center;
}
.flex-1{
    flex: 1;
}
.opacity-1{
    opacity: 0.1;
}
.opacity-2{
    opacity: 0.2;
}
.opacity-4{
    opacity: 0.4;
}
.opacity-6{
    opacity: 0.6;
}
.opacity-8{
    opacity: 0.8;
}
.opacity-10{
    opacity: 1;
}
.c-p{
    cursor: pointer;
}
.c-na{
    cursor: not-allowed;
}
.text-success{
    color: var(--text-success);
}
.text-fail{
    color: var(--text-warning);
}