<section class="section-container">
    <app-sidenav></app-sidenav>
    <div class="section-content-container">
        <!-- page header -->
        <div class="page-header">
            <div>
                <h1 class="page-name">Your Accounts</h1>
                <p class="page-description">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="flex-1"></div>
            <button class="btn btn-small btn-dark" (click)="isAddFundSection = true">Add Fund</button>
            <button class="btn btn-small btn-light" (click)="showAddAccountSection()">Add Account</button>
            <button class="btn btn-small btn-light">Add Card</button>
        </div>
        
        <!-- accounts table -->
        <div class="table-container account-table">
            <div class="table-header">
                <h1>List of your accounts</h1>
                <p>1 - 1 of 4</p>
            </div>
            <table class="table">
                <tr class="header-row">
                    <th class="number-column">#</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Ref Number</th>
                    <th>opening balance</th>
                    <th>current balance</th>
                    <th>created at</th>
                    <th class="option-column"></th>
                </tr>
                <ng-container *ngIf="userAccounts.length > 0">
                    <tr *ngFor="let item of userAccounts; let i = index">
                        <td class="number-column">{{i+1}}.</td>
                        <td>{{item.name}}</td>
                        <td class="center">{{item.type}}</td>
                        <td class="center light">#{{item.ref_number}}</td>
                        <td class="center light">₹ {{item.opening_balance | number:'1.2-2':'en-IN'}}</td>
                        <td class="center">₹ {{item.current_balance | number:'1.2-2':'en-IN'}}</td>
                        <td class="center light">{{item.created_at | date}}</td>
                        <td class="option-column">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </td>
                    </tr>
                </ng-container>
                
                <ng-container *ngIf="userAccounts.length <= 0">
                    <tr class="no-record-found">
                        <td colspan="8">No Record Found</td>
                    </tr>
                </ng-container>
            </table>
            <app-paging></app-paging>
        </div>

        <!-- credit/debit cards -->
        <div class="cdcards-container">
            <div class="cdcards-header">
                <h1>List of your cards</h1>
                <p>Card Total: {{userCards.length}}</p>
            </div>
            <div class="cdcards-body">
                <div class="cdcards"
                    [class.credit]="item.card_type == 'credit'"
                    [class.debit]="item.card_type == 'debit'"
                    *ngFor="let item of userCards">
                    <img class="card-chip-img" src="../../../assets/images/card-chip.png">
                    <div class="card-body">
                        <h1 class="bank-name">{{item.bank_name}} Bank</h1>
                        <div class="card-number">
                            <p class="number-des">Card Number</p>
                            <p class="number">{{formatCardNumber(item.card_number)}}</p>
                            <p class="card-type">{{item.card_type}} Card</p>
                        </div>
                        <p class="owner-name">{{user.user_name}}</p>
                        <div class="used-bar-container">
                            <div class="min-max">
                                <p class="min">₹ {{item.used_amount | number:'1.2-2':'en-IN'}}</p>
                                <p class="max">₹ {{item.card_limit | number:'1.2-2':'en-IN'}}</p>
                            </div>
                            <div class="bar-container">
                                <div class="used-bar" [style.width.%]="(item.used_amount / item.card_limit) * 100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="valid-till-container">
                        <p class="valid-till-des">Valid Till</p>
                        <p class="valid-till">{{item.ex_month}}/{{item.ex_year}}</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- add new account form -->
        <div class="form-container"
            *ngIf="isAddAccountSection">
            <h1 class="form-header">Add New Account</h1>
            <form class="form-fields-container" [formGroup]="addAccountForm">
                <div class="input-field-container onethird">
                    <label class="input-label" for="name">
                        Account Name
                    </label>
                    <input type="text" name="name" class="input-field" placeholder="Enter account name" formControlName="name"
                        required>
                    <div class="error-message-container">
                        <span class="error-message">
                        </span>
                    </div>
                </div>
                <div class="input-field-container onethird">
                    <label class="input-label" for="name">
                        Account Ref Number
                    </label>
                    <input type="text" name="name" class="input-field" placeholder="Enter account ref number" formControlName="ref_number"
                        required>
                    <div class="error-message-container">
                        <span class="error-message">
                        </span>
                    </div>
                </div>
                <div class="input-field-container onethird">
                    <label class="input-label" for="type">
                        Account Type
                    </label>
                    <select class="input-field" formControlName="type" formControlName="type">
                        <option *ngFor="let item of accountTypes" value="{{item.value}}">
                            {{item.label}}
                        </option>
                    </select>
                    <div class="error-message-container">
                        <span class="error-message">
                        </span>
                    </div>
                </div>
                <div class="input-field-container half">
                    <label class="input-label" for="type">
                        Opening Balance
                    </label>
                    <input type="text" id="username" name="username" class="input-field" placeholder="Enter account opening balance" formControlName="opening_balance"
                        required>
                    <div class="error-message-container">
                        <span class="error-message">
                        </span>
                    </div>
                </div>
                <div class="input-field-container half">
                    <label class="input-label" for="type">
                        Current Balance
                    </label>
                    <input type="text" id="username" name="username" class="input-field" placeholder="Enter account current balance" formControlName="current_balance"
                        required>
                    <div class="error-message-container">
                        <span class="error-message">
                        </span>
                    </div>
                </div>
            </form>
            <div class="btn-container">
                <button class="btn btn-dark" (click)="addNewAccount()">Add</button>
                <button class="btn btn-light" (click)="cancelForm()">Cancel</button>
            </div>
        </div>

        <!-- add fund form -->
        <div class="form-container"
            *ngIf="isAddFundSection">
            <h1 class="form-header">Add/Transfer Fund Fund</h1>

            <form class="form-fields-container" 
                [formGroup]="fundForm">
                <div class="input-field-container onethird">
                    <label class="input-label" 
                        for="type">
                        Add/Transfer to Account
                    </label>
                    <select class="input-field"
                        formControlName="to_account_id">
                        <option value="0">Select Account</option>
                        <option *ngFor="let item of userAccounts" 
                            value="{{item.account_id}}">
                            {{item.name}} - #{{item.ref_number}}
                        </option>
                    </select>
                    <div class="error-message-container">
                        <span class="error-message">
                            {{toAccountError}}
                        </span>
                    </div>
                </div>
                <div class="input-field-container onethird">
                    <label class="input-label" 
                        for="type">
                        Transfer from Account
                    </label>
                    <select class="input-field"
                        (change)="updateTransferLimit()"
                        formControlName="from_account_id">
                        <option value="0">Select Account</option>
                        <option *ngFor="let item of userAccounts"
                            value="{{item.account_id}}">
                            {{item.name}} - #{{item.ref_number}}
                        </option>
                    </select>
                    <div class="error-message-container">
                        <span class="error-message">
                            {{fromAccountError}}
                        </span>
                    </div>
                </div>
                <div class="input-field-container onethird">
                    <label class="input-label" 
                        for="type">
                        Amount to Transfer (Max: {{maxTransferLimit > 0 ? maxTransferLimit : 'N/A'}})
                    </label>
                    <input type="text" 
                        class="input-field" 
                        placeholder="Enter account current balance"
                        formControlName="transfer_amount"
                        required>
                    <div class="error-message-container">
                        <span class="error-message">
                            {{amountError}}
                        </span>
                    </div>
                </div>
            </form>

            <p class="note"><strong>Note:-</strong> If "Transfer from Account" is not selected then new fund will be added to the "Transfer to Account".</p>

            <div class="btn-container">
                <button class="btn btn-dark" (mouseenter)="checkFundForm()" (click)="updateFund()">Add</button>
                <button class="btn btn-light" (click)="isAddFundSection = false">Cancel</button>
            </div>
        </div>

        <!-- add card form -->
        <div class="form-container"
            *ngIf="isCardSection">
            <h1 class="form-header">Add New Card Fund</h1>

            <form class="form-fields-container" 
                [formGroup]="cardForm">
                <div class="input-field-container onethird">
                    <label class="input-label" 
                        for="type">
                        Select Account
                    </label>
                    <select class="input-field"
                        formControlName="account_id">
                        <option value="0">Select Account</option>
                        <ng-container *ngFor="let item of userAccounts" >
                            <option *ngIf="item.type == 'bank'"
                                value="{{item.account_id}}">
                                {{item.name}} - #{{item.ref_number}}
                            </option>
                        </ng-container>

                        
                    </select>
                    <div class="error-message-container">
                        <span class="error-message">
                            {{toAccountError}}
                        </span>
                    </div>
                </div>
                <div class="input-field-container onethird">
                    <label class="input-label" for="type">
                        Card Number
                    </label>
                    <input type="text" 
                        class="input-field" 
                        placeholder="Enter card numbers" 
                        formControlName="number"
                        required>
                    <div class="error-message-container">
                        <span class="error-message">
                        </span>
                    </div>
                </div>
                <div class="input-field-container onethird">
                    <label class="input-label" 
                        for="type">
                        Transfer from Account
                    </label>
                    <select class="input-field"
                        formControlName="type">
                        <option *ngFor="let item of cardType"
                            value="{{item.value}}">
                            {{item.label}}
                        </option>
                    </select>
                    <div class="error-message-container">
                        <span class="error-message">
                        </span>
                    </div>
                </div>
                <div class="input-field-container oneforth">
                    <label class="input-label" for="type">
                        Card Expire Month
                    </label>
                    <input type="text" 
                        class="input-field" 
                        placeholder="Enter card expire month" 
                        formControlName="ex_month"
                        required>
                    <div class="error-message-container">
                        <span class="error-message">
                        </span>
                    </div>
                </div>
                <div class="input-field-container oneforth">
                    <label class="input-label" for="type">
                        Card Expire Year
                    </label>
                    <input type="text" 
                        class="input-field" 
                        placeholder="Enter card expire year" 
                        formControlName="ex_year"
                        required>
                    <div class="error-message-container">
                        <span class="error-message">
                        </span>
                    </div>
                </div>
                <div class="input-field-container oneforth">
                    <label class="input-label" for="type">
                        Card Limit
                    </label>
                    <input type="text" 
                        class="input-field" 
                        placeholder="Enter card limit" 
                        formControlName="card_limit"
                        required>
                    <div class="error-message-container">
                        <span class="error-message">
                        </span>
                    </div>
                </div>
                <div class="input-field-container oneforth">
                    <label class="input-label" for="type">
                        Card Used Amount
                    </label>
                    <input type="text" 
                        class="input-field" 
                        placeholder="Enter amount used" 
                        formControlName="used_amount"
                        required>
                    <div class="error-message-container">
                        <span class="error-message">
                        </span>
                    </div>
                </div>
                <div class="input-field-container full">
                    <label class="input-label" for="type">
                        Note
                    </label>
                    <input type="text" 
                        class="input-field" 
                        placeholder="Enter card note" 
                        formControlName="note"
                        required>
                    <div class="error-message-container">
                        <span class="error-message">
                        </span>
                    </div>
                </div>
            </form>

            <div class="btn-container">
                <button class="btn btn-dark" (click)="addNewCard()">Add</button>
                <button class="btn btn-light">Cancel</button>
            </div>
        </div>
    </div>
</section>