<section class="login-section">
    <div class="login-container">
        <h2>Register</h2>
        <form [formGroup]="registerForm" 
                (submit)="registerUser()">
            <div class="input-field-container">
                <label class="input-label" 
                        for="name">
                    Name:
                </label>
                <input type="text" 
                        id="name" 
                        name="name" 
                        class="input-field" 
                        formControlName="name" 
                        placeholder="Enter name" 
                        required>
                <div class="error-message-container">
                    <span class="error-message" 
                            *ngIf="nameErrorMessage">
                        {{nameErrorMessage}}
                    </span>
                </div>
            </div>
            <div class="input-field-container">
                <label class="input-label" 
                        for="email">
                    Email:
                </label>
                <input type="text" 
                        id="email" 
                        name="email" 
                        class="input-field" 
                        formControlName="email" 
                        placeholder="Enter email" 
                        required>
                <div class="error-message-container">
                    <span class="error-message" 
                            *ngIf="emailErrorMessage">
                        {{emailErrorMessage}}
                    </span>
                </div>
            </div>
            <div class="input-field-container">
                <label class="input-label" 
                        for="password">
                    Password:
                </label>
                <input type="password" 
                        id="password" 
                        name="password" 
                        class="input-field" 
                        formControlName="password" 
                        placeholder="Enter password" 
                        required>
                <div class="error-message-container">
                    <span class="error-message" 
                            *ngIf="passwordErrorMessage">
                        {{passwordErrorMessage}}
                    </span>
                </div>
            </div>
            <div class="btn-container">
                <button class="btn btn-light" 
                        type="submit" 
                        [disabled]="isRegisterDisabled"
                        (mouseenter)="checkRegisterForm()">
                    Register
                </button>
            </div>
        </form>

        <p class="signup-link">
            Already have an account? 
            <a routerLink="/">Login</a>
        </p>
    </div>
</section>